<div class="about-me">
  <div class="profile-image">
    <%= image_tag 'profile.jpg', alt: 'My Profile Picture' %>
  </div>
    <br>
  <section class="introduction">
    <h2>Greetings! I'm Blake Ridgway</h2>
    <p>
      <strong>Systems & Network Administrator | Linux & Open Source Advocate | Ultra-Endurance Cyclist</strong>
    </p>
  </section>

  <section class="profession">
    <h2>Professional Background</h2>
    <p>
      As a seasoned <strong>Systems Administrator</strong> with extensive experience in <strong>Linux, AWS, and Azure</strong>, I specialize in server automation and network solutions, with a deep understanding of <strong>Cisco, Fortigate, and Netgate</strong> technologies. I have a proven track record of enhancing infrastructure efficiency and security, consistently driving innovation to achieve peak performance in organizational operations.
    </p>
    <p>
      My commitment extends beyond mere technical proficiency; I strive to fine-tune operations and implement cutting-edge IT solutions that foster growth and resilience. Whether optimizing existing systems or developing new strategies, I embrace challenges that elevate the capabilities of the infrastructure I manage.
    </p>
  </section>
  
  <section class="hobbies">
    <h2>Outside of Work</h2>
    <p>
      When I'm not coding, you can find me on my bike, pushing the limits of ultra-endurance cycling. I enjoy the meditative challenge of long rides, often exploring new places and recording my journey.
    </p>
  </section>
  
  <section class="tech-setup">
    <h2>Tech Setup</h2>
    <p>
      My tech stack revolves around Linux, open-source software, and homelab setups. I run various services from my server rack, from media servers to development environments, making my projects highly customizable.
    </p>
  </section>

  <section class="projects">
    <h2>Open Source Project</h2>
    <p>
      It was during one of these rides that I envisioned a pioneering open-source platform for cycling training. This project aims to integrate the best features of platforms like <strong>TrainingPeaks, Intervals.icu</strong>, and <strong>TrainerRoad</strong>, merging my technological expertise with my passion for cycling. The goal is to equip fellow riders with a comprehensive toolkit to enhance their performance and achieve their cycling aspirations.
    </p>
  </section>

  <section class="contact">
    <h2>Connect With Me</h2>
    <p>
      Feel free to connect with me, whether to discuss technology, cycling, or potential collaborations!
    </p>

      <div class="contact-icons">
    <a href="mailto:blakearidgway@gmail.com" target="_blank" rel="noopener noreferrer" title="Email">
      <i class="fas fa-envelope"></i>
    </a>
    <a href="https://github.com/blakeridgway" target="_blank" rel="noopener noreferrer" title="GitHub">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://www.strava.com/athletes/57387663" target="_blank" rel="noopener noreferrer" title="Strava">
      <i class="fab fa-strava"></i>
    </a>
  </div>
  </section>
</div>
