<div class="container mt-5">
  <h1 class="text-center">Cycling Hardware</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="bike-image">
          <%= image_tag 'gianttcr.jpg', alt: 'My Giant TCR Pro road bike' %>
        </div>
        <div class="card-body">
          <h5 class="card-title">Giant TCR Advanced Disc 2 Pro Compact</h5>
          <ul class="card-text">
            <li>Size: Medium</li>
            <li>Color: Carbon</li>
            <li>Frame: Advanced-Grade Composite, disc</li>
            <li>Fork: Advanced-Grade Composite, full-composite OverDrive steerer, disc</li>
            <li>Handlebar: Giant Contact 42cm</li>
            <li>Bartape: ORR Cycling | Neutron Pink</li>
            <li>Stem: Giant Contact: 100mm</li>
            <li>Seatpost: Giant Variant</li>
            <li>Saddle: Giant Approach</li>
            <li>Pedals: Look Keo 2 Max Carbon</li>
            <li>Groupset: Shimano 105 R7000</li>
            <li>Brakes: Giant MPH rotors [F]160mm, [R]140mm</li>
            <li>Wheels: Giant P-R2 Disc</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="bike-image">
          <%= image_tag 'canyonendurace.jpg', alt: 'My Canyon Endurace CF SL 8 Gravel bike' %>
        </div>
        <div class="card-body">
          <h5 class="card-title">Canyon Endurace CF SL 8</h5>
          <ul class="card-text">
            <li>Size: Small</li>
            <li>Color: Stealth Grey </li>
            <li>Frame: Canyon Endurace CF SL</li>
            <li>Fork: Canyon FK0098 CF Disc</li>
            <li>Handlebar: Canyon H17 Ergobar</li>
            <li>Bartape: ORR Cycling | Black</li>
            <li>Stem: Canyon V13 1 1/4 Stem: 90mm</li>
            <li>Seatpost: Canyon S15 VCLS 2.0 CF</li>
            <li>Saddle: Fizik Tempo Argo R5</li>
            <li>Pedals: Look X-Track</li>
            <li>Groupset: Shimano Ultegra R8000 SGS</li>
            <li>Brakes: Shimano Deore XT MT800, Size: 160 mm</li>
            <li>Wheels: DT Swiss E 1800 Spline</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
