@page "/"

<PageTitle>Blake Ridgway - Home</PageTitle>

<div class="container mt-4">
    <div class="text-center">
        <h1>Welcome to My Digital Space!</h1>
        <p class="lead">This is the personal website of Blake Ridgway.</p>
    </div>

    <hr class="my-4">

    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">🚧 Work in Progress! 🚧</h4>
        <p>
            Welcome to my evolving corner of the web! This site, particularly the blog section,
            is currently under active development. I'm using it as a hands-on project to
            learn the ins and outs of ASP.NET Core and Blazor.
        </p>
        <hr>
        <p class="mb-0">
            My background is primarily in Python, so I'm excited to be exploring the
            Microsoft .NET ecosystem. You might see things change frequently as I experiment
            and build out new features. Thanks for stopping by!
        </p>
    </div>

    <div class="mt-5">
        <h2>What's Here?</h2>
        <p>
            For now, the main feature I'm building out is a simple blog. You can check out
            my progress and some initial posts here:
        </p>
        <p>
            <a href="/blog" class="btn btn-primary">Go to the Blog</a>
        </p>
        <p>
            More content and features will be added as I learn and grow with Blazor!
        </p>
    </div>

</div>

@code {
    // Add any C# logic here if needed in the future
}